{% extends "layout.html" %}
{% block content %}

<p>There is a debate raging (ok, maybe not raging) about what it means to be a data scientist. Do you work with data? any data? ever? Are you a researcher? scientist? economist? computer scientist? Have you ever labeled yourself a data scientist?  Could you spot one from a distance? Help us quantitatively determine what a data scientist is by taking a brief and fun survey. Why? Because without data, you are just another person with an opinion (also, we will present the results of the survey at a future DC Data Science meetup!)</p>

<p>Just in case you were wondering, we will **NEVER** publish or provide to any third party unaggregated responses or identifying data.  If we learn anything astonishingly insightful, we will most definitely share this information with you (assuming you actually complete the survey and offer your email).</p>

<a href="{{ url_for('q1') }}" class="extralarge awesome green">Get Started</a>

<div class="span-24 last">
  <hr/>
  <h2>Have some questions about your results? <a href="{{ url_for('faq') }}" class="large awesome blue">FAQ</a></h2>
</div>
<div class="span-24 last">
  <hr/>
  <h2>Want more information about the survey? <a href="{{ url_for('surveydetails') }}" class="large awesome red">Survey Details</a></h2>
</div>
	
{% endblock %}
