<!doctype html>
<html>
  <head>
    <title>Data Scientist Badges</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.8.23.custom.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/blueprint/print.css') }}" type="text/css" media="print">

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico') }}" />

    <script type=text/javascript src="{{url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-ui-1.8.23.custom.min.js') }}"></script>
    <script type="text/javascript">
      $(function(){
        //hover states on the static widgets
        $('#dialog_link, ul#icons li').hover(
         function() { $(this).addClass('ui-state-hover'); },
         function() { $(this).removeClass('ui-state-hover'); }
       );
      });
    </script>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

</head>

<body>
  <div class="container span-24 prepend-1 last">
    <div class="span-23 last">
      <div class="span-16">
        <br/>
        <h1>Data Scientist Badges</h1>
        <h3>Make a badge of your skills and your self-identification!</h3>
      </div>
      <div class="span-6 last">
        <a href="http://datacommunitydc.org/"><img src="{{ url_for('static', filename='DC2logo-cluster-name-100px.png') }}"/></a>
      </div>
    </div>
    <hr/>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}    

      {% block content %}{% endblock %}

  </div>
</body>
</html>
